body {
    background-color: #e7c695;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
    .leftHeader {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
        h1 {
            font-family: "Playwrite FR Moderne", cursive;
            color: #0c0407;
            font-size: 15pt;
        }
        #logo {
            max-width: 100px;
            margin-left: 10px;
            margin-right: 10px;
        }
    .rightHeader {
        display: flex;
        justify-content: flex-end;
    }
        #FAQ {
            font-family: "Comfortaa", sans-serif;
            font-size: 15pt;
            font-weight: 400;
            color: #0c0407;
            height: 50px;
            width: 75px;
            border-radius: 5pt;
            background-color: #b1742e;
            justify-content: flex-end;
        }


main {
    display: flex;
    align-content: flex-start;
    justify-content: space-between;
    margin-top: 20px;
    font-family: "Comfortaa", sans-serif;
    color: #0c0407;
}
    .sidebar{
        width: 250px;
        height: 100px;
        background-color: #dfa54f;
        margin-right: 20px;
    }
        .loggedin {
            width: 250px;
            height: 650px;
            background-color: #dfa54f;
            margin-right: 20px;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            h2 {
                font-size: 15pt;
                font-weight: 400;
                color: #0c0407;
                margin: 10px;
                margin-bottom: 15px;
            }
        }
        .loggedout {
            width: 250px;
            height: 400px;
            background-color: #dfa54f;
            margin-right: 20px;
            visibility: visible;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: -650px;
            h2 {
                font-size: 15pt;
                font-weight: 400;
                color: #0c0407;
                margin: 10px;
                margin-top: 40px;
                margin-bottom: 30px;
            }
        }
        .newAccount {
            width: 250px;
            height: 350px;
            background-color: #dfa54f;
            margin-right: 20px;
            visibility: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: -300px;
            p {
                margin: auto;
            }
            h2 {
                font-size: 15pt;
                font-weight: 400;
                color: #0c0407;
                margin: 10px;
                margin-top: 40px;
                margin-bottom: 30px;
            }
        }
            .switcher {
                font-family: "Comfortaa", sans-serif;
                font-size: 12pt;
                font-weight: 400;
                color: #0c0407;
                height: 50px;
                width: 100px;
                border-radius: 5pt;
                background-color: #e7c695;
                margin: 20px;
            }
            .userImage {
                max-width: 80px;
                border-radius: 100%;
                margin-top: 20px;
            }
            p {
                color: #0c0407;
                margin: 5px;
            }
            #logout {
                font-family: "Comfortaa", sans-serif;
                font-size: 12pt;
                font-weight: 400;
                color: #0c0407;
                height: 40px;
                width: 100px;
                border-radius: 5pt;
                background-color: #b1742e;
                margin: 30px;
            }
            #login {
                font-family: "Comfortaa", sans-serif;
                font-size: 12pt;
                font-weight: 400;
                color: #0c0407;
                height: 40px;
                width: 100px;
                border-radius: 5pt;
                background-color: #b1742e;
                margin: 20px;
            }
            #usernameLO {
                font-family: "Comfortaa", sans-serif;
                border-radius: 5pt;
                background-color: #e7c695;
                color: #0c0407;
                resize: none;
                margin-bottom: 5px;
                margin-top: 10px;
            }
            #passwordLO {
                font-family: "Comfortaa", sans-serif;
                border-radius: 5pt;
                background-color: #e7c695;
                color: #0c0407;
                resize: none;
            }
            #usernameCA {
                font-family: "Comfortaa", sans-serif;
                border-radius: 5pt;
                background-color: #e7c695;
                color: #0c0407;
                resize: none;
                margin-bottom: 5px;
                margin-top: 10px;
            }
            #passwordCA {
                font-family: "Comfortaa", sans-serif;
                border-radius: 5pt;
                background-color: #e7c695;
                color: #0c0407;
                resize: none;
            }
            #createAccountBtn {
                font-family: "Comfortaa", sans-serif;
                font-size: 12pt;
                font-weight: 400;
                color: #0c0407;
                height: 50px;
                width: 100px;
                border-radius: 5pt;
                background-color: #b1742e;
                margin: 20px;
            }
    
    .feed {
        visibility: visible;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 750px;
        background-color: #dfa54f;
        margin-left: 20px;
        font-family: "Comfortaa", sans-serif;
        font-size: 12pt;
        color: #0c0407;
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 575px;
            background-color: #b1742e;
            padding: 20px;
            border-radius: 5pt;
            margin: 20px;
        }
        img {
            max-width: 550px;
            max-height: 500px;
            border-radius: 2%;
        }
        #icon{
            max-width: 40px;
        }
        #userIcon {
            max-width: 60px;
            border-radius: 100%;
            margin-right: 400px;
            margin-top: 25px;
        }
        #squeakerInfo {
            align-items: flex-start;
            padding: 0;
            margin-bottom: 10px;
            margin-top: -60px;
            p{
                margin-top: -10px;
                margin-left: 30px;
            }
        }
        .comment {
            display: flex;
            align-items: center;
            margin-bottom: -10px;
            margin-top: 40px;
            textarea {
                font-family: "Comfortaa", sans-serif;
                width: 300px;
                height: 20px;
                border-radius: 5pt;
                background-color: #e7c695;
                color: #0c0407;
                resize: none;
            }
        }
    }
        .squeak {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 575px;
            background-color: #b1742e;
            padding: 20px;
            border-radius: 5pt;
        }
            #addimage {
                font-family: "Comfortaa", sans-serif;
                width: 550px;
                border-radius: 5pt;
                background-color: #e7c695;
                color: #0c0407;
                resize: none;
                margin-bottom: 10px;
            }
            #content {
                font-family: "Comfortaa", sans-serif;
                width: 550px;
                height: 100px;
                border-radius: 5pt;
                background-color: #e7c695;
                color: #0c0407;
                resize: none;
            }
            #sendBtn {
                font-family: "Comfortaa", sans-serif;
                font-size: 11pt;
                font-weight: 400;
                color: #662929;
                height: 30px;
                width: 75px;
                border-radius: 5pt;
                background-color: #e7c695;
                margin-top: 15px;
            }
    .account {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 750px;
        height: 500px;
        background-color: #dfa54f;
        margin-left: -600px;
        font-family: "Comfortaa", sans-serif;
        font-size: 12pt;
        color: #0c0407;
    }
        .accountInfo {
            text-align: center;
            opacity: 1;
        }
        #accountInput {
            opacity: 0;
            margin-top: -100px;
            margin-bottom: 5px;
        }
        #accountEdit{
            opacity: 1;
            font-family: "Comfortaa", sans-serif;
            font-size: 10pt;
            font-weight: 400;
            color: #0c0407;
            height: 40px;
            width: 100px;
            border-radius: 5pt;
            background-color: #b1742e;
            margin-top: -10px;
        }
        #accountSave{
            opacity: 0;
            font-family: "Comfortaa", sans-serif;
            font-size: 10pt;
            font-weight: 400;
            color: #0c0407;
            height: 40px;
            width: 100px;
            border-radius: 5pt;
            background-color: #b1742e;
            margin-top: -50px;
        }
    
    .myMischief {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 750px;
        height: 500px;
        background-color: #dfa54f;
        margin-left: -600px;
        font-family: "Comfortaa", sans-serif;
        font-size: 12pt;
        color: #0c0407;
    }

    .joinedMischiefs {
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 750px;
        height: 500px;
        background-color: #dfa54f;
        margin-left: -600px;
        font-family: "Comfortaa", sans-serif;
        font-size: 12pt;
        color: #0c0407;
    }

        ul {
            margin-right: 300px;
            list-style: none;
        }


/* colors
dk brown: #0c0407
orange: #b1742e
light red: #9a5729
dark red: #662929
yellow: #dfa54f
white: #e7c695 */
