body {
    background-color: #e7c695;
}

#branding {
    background-color: #dfa54f;
}

h1 {
    font-family: "Playwrite FR Moderne", cursive;
    color: #0c0407;
}

img {
    max-width: 125px;
}

#FAQ {
    background-color: #dfa54f;
}

#sidebar {
    background-color: #dfa54f;
}

#feed {
    background-color: #dfa54f;
}

/* colors
dk brown: #0c0407
orange: #b1742e
light red: #9a5729
dark red: #4d0000
yellow: #dfa54f
white: #e7c695 */
