body {
    background-color: #e7c695;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.leftHeader {
    display: flex;
    justify-content: flex-start;
}
    h1 {
        font-family: "Playwrite FR Moderne", cursive;
        color: #0c0407;
        font-size: 15pt;
    }
    img {
        max-width: 100px;
    }

.rightHeader {
    display: flex;
    justify-content: flex-end;
}
    button {
        font-family: "Playwrite FR Moderne", cursive;
        font-weight: bold;
        color: #0c0407;
        height: 50px;
        width: 75px;
        border-radius: 5pt;
        background-color: #b1742e;
        justify-content: flex-end;
    }



/* colors
dk brown: #0c0407
orange: #b1742e
light red: #9a5729
dark red: #4d0000
yellow: #dfa54f
white: #e7c695 */
